// 用于重写默认颜色常量，或者设置新的 stylus 颜色常量

$accentColor = #007acc // 主题色
$textColor = #2c3e50 // 文字颜色


// 官方默认配色
// $accentColor = #3eaf7c //主题色
// $textColor = #2c3e50 //文字颜色
$borderColor = #eaecef  //边框颜色
$codeBgColor = #282c34  //代码背景色